Repository pranavbhole/druid, pull requests merged in 2023-12, with the labels that each got.

#1 Adding native context flag analyze which by default is false
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/EngineFeature.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
Labels: Area - Querying

#2 Explain analyzer
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
Labels: Area - Querying

#5 First working draft of setting the native flag through SQL query
  sql/src/main/codegen/includes/explain.ftl
  sql/src/main/java/org/apache/druid/sql/AbstractStatement.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  web-console/lib/keywords.js
Labels: Area - Querying, Area - Web Console

#6 wire some stuff up
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/QueryRuntimeAnalysis.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClientFactory.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResponse.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  services/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  sql/src/main/java/org/apache/druid/sql/SqlExecutionReporter.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeQueryMaker.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
Labels: Area - Querying

#4 basic UI
  extensions-contrib/materialized-view-selection/src/test/java/org/apache/druid/query/materializedview/DatasourceOptimizerTest.java
  extensions-core/multi-stage-query/src/main/java/org/apache/druid/msq/sql/MSQTaskQueryMaker.java
  processing/src/main/java/org/apache/druid/java/util/http/client/NettyHttpClient.java
  processing/src/main/java/org/apache/druid/java/util/http/client/response/HttpResponseHandler.java
  processing/src/main/java/org/apache/druid/query/CPUTimeMetricQueryRunner.java
  processing/src/main/java/org/apache/druid/query/MetricsEmittingQueryRunner.java
  processing/src/main/java/org/apache/druid/query/QueryContext.java
  processing/src/main/java/org/apache/druid/query/QueryContexts.java
  processing/src/main/java/org/apache/druid/query/QueryMetrics.java
  processing/src/main/java/org/apache/druid/query/QueryRuntimeAnalysis.java
  processing/src/main/java/org/apache/druid/query/TruncatedResponseContextException.java
  processing/src/main/java/org/apache/druid/query/context/ResponseContext.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/groupby/GroupByQueryRuntimeAnalysis.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryQueryToolChest.java
  processing/src/main/java/org/apache/druid/query/timeseries/TimeseriesQueryRuntimeAnalysis.java
  processing/src/test/java/org/apache/druid/query/context/ResponseContextTest.java
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClient.java
  server/src/main/java/org/apache/druid/client/DirectDruidClientFactory.java
  server/src/main/java/org/apache/druid/client/coordinator/CoordinatorClientImpl.java
  server/src/main/java/org/apache/druid/server/QueryLifecycle.java
  server/src/main/java/org/apache/druid/server/QueryResource.java
  server/src/main/java/org/apache/druid/server/QueryResponse.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  server/src/test/java/org/apache/druid/client/BrokerServerViewTest.java
  server/src/test/java/org/apache/druid/client/DirectDruidClientTest.java
  server/src/test/java/org/apache/druid/client/SimpleServerView.java
  server/src/test/java/org/apache/druid/client/TestHttpClient.java
  server/src/test/java/org/apache/druid/segment/metadata/CoordinatorSegmentMetadataCacheTest.java
  server/src/test/java/org/apache/druid/server/QueryResourceTest.java
  server/src/test/java/org/apache/druid/server/QueryResultPusherTest.java
  server/src/test/java/org/apache/druid/server/mocks/MockHttpServletResponse.java
  services/src/main/java/org/apache/druid/server/AsyncQueryForwardingServlet.java
  sql/src/main/codegen/config.fmpp
  sql/src/main/codegen/includes/explain-analyze.ftl
  sql/src/main/codegen/includes/explain.ftl
  sql/src/main/java/org/apache/druid/sql/AbstractStatement.java
  sql/src/main/java/org/apache/druid/sql/SqlExecutionReporter.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/DruidPlanner.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/PlannerContext.java
  sql/src/main/java/org/apache/druid/sql/calcite/planner/QueryHandler.java
  sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidUnionRel.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/EngineFeature.java
  sql/src/main/java/org/apache/druid/sql/calcite/run/NativeSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/calcite/view/ViewSqlEngine.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  sql/src/test/java/org/apache/druid/sql/calcite/TestInsertQueryMaker.java
  sql/src/test/java/org/apache/druid/sql/calcite/schema/BrokerSegmentMetadataCacheTest.java
  web-console/lib/keywords.js
  web-console/src/views/workbench-view/explain-and-analyse-dialog/debug-data.mock.ts
  web-console/src/views/workbench-view/explain-and-analyse-dialog/explain-and-analyse-dialog.scss
  web-console/src/views/workbench-view/explain-and-analyse-dialog/explain-and-analyse-dialog.tsx
  web-console/src/views/workbench-view/workbench-view.tsx
Labels: Area - Querying, Area - Web Console, Area - Batch Ingestion, Area - MSQ

#10 fix sql by not flushing underlying stream... y tho
  server/src/main/java/org/apache/druid/client/CachingClusteredClient.java
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ArrayWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectLinesWriter.java
  sql/src/main/java/org/apache/druid/sql/http/ObjectWriter.java
Labels: Area - Querying

#11 Adding the analysis DAG at the end of response
  server/src/main/java/org/apache/druid/server/QueryResultPusher.java
  sql/src/main/java/org/apache/druid/sql/http/SqlResource.java
  web-console/package-lock.json
  web-console/package.json
  web-console/src/singletons/api.ts
  web-console/src/views/workbench-view/explain-and-analyse-dialog/explain-and-analyse-dialog.tsx
Labels: Area - Querying, Area - Web Console

#12 display metrics and debug info
  web-console/src/views/workbench-view/explain-and-analyse-dialog/explain-and-analyse-dialog.tsx
Labels: Area - Web Console
